extends ../shared/layout
block main-content
    .container
        table.table.table-bordered
            tr
                th Title
                th Desciption
                th Creator
            each event in events
                tr
                    td
                        a(href='/active/#{event.id}') #{event.title}
                    td #{event.description}
                    td #{event.creatorName}
        span Page:
        input(type="text" id="page-number" placeholder="Page Number")
        input(type="button" id="filter" value="Filter")
block page-scripts
    script(src = "js/httpRequester.js")
    script(src = "js/paging.js")